server:
  port: 8081

security:
  jwt:
    token:
      secret-key: secret-key

spring:
  application.name: GameMasterApplication
  devtools:
    livereload:
      port: 12347
  cloud.stream:
    bindings:
      processUsersJoinGame-in-0:
        destination: join-play
        group: group1
        auto.offset.reset: latest
      processUsersJoinGame-out-0:
        destination: new-plays,ongoing-plays
      processUserScores-in-0:
        destination: completed-plays
        group: group1
        auto.offset.reset: latest
    function.definition: processUsersJoinGame,processUserScores
    kafka:
      streams.binder.configuration.application.server: localhost:18081
      binder:
        brokers: 127.0.0.1:9094,127.0.0.1:9095,127.0.0.1:9096
        replication-factor: 3
        configuration:
          auto.offset.reset: latest
      streams.binder:
        functions:
          processUsersJoinGame:
            applicationId: app_processUsersJoinGame
          processUserScores:
            applicationId: app_processUserScores
        brokers: 127.0.0.1:9094,127.0.0.1:9095,127.0.0.1:9096
        deserialization-exception-handler: logandfail
        stateStoreRetry:
          maxAttempts: 3
          backoff-period: 5000
        configuration:
          #application.server: localhost:9094
          default.key.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
          default.value.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
          commit.interval.ms: 1000
