server:
  port: 8081

security:
  jwt:
    token:
      secret-key: secret-key

secets:
  ui-token: token_ui
  gm-token: token_gm
  pm-token: token_pm

spring:
  cloud.stream:
    bindings:
      processUsersJoinGame-in-0:
        destination: practice
        consumer:
          valueSerde: serde.UserJoinQueueSerde
      processUsersJoinGame-out-0:
        destination: practice-paired
        producer:
          valueSerde: serder.PracticePlaySerde
    kafka:
      binder:
        brokers: 127.0.0.1:9094,127.0.0.1:9095,127.0.0.1:9096
        replication-factor: 3
      streams.binder:
        configuration:
          default.key.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
          default.value.serde: org.apache.kafka.common.serialization.Serdes$StringSerde
          commit.interval.ms: 1000

